.searcher_container {
  width: 90%;
  height: 450px;
  margin: 0 auto;
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 1.5em;
  border-radius: 4px;
}

form select {
  display: block;
  position: relative;
  font-size: 20px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding: 0.5em 0.75em;
  margin: 0;
  border: 2px solid black;
  background-color: #fffafa;
}
