.searcher_container {
  width: 85%;
  height: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 1.5em;

  margin-bottom: 40px;
  border-radius: 4px;
}
.left_filter {
  float: left;
  padding: 1.3em;
  width: 30%;
  height: 100%;
}
.job_type,
.english_level {
  margin-bottom: 15px;
}
ul {
  margin-top: 0.75em;
  display: inline-block;
}
ul li {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  list-style-type: none;
  cursor: pointer;
  float: left;
  text-align: center;
  border: 2px solid #e6e6e6;
  width: 130px;
  height: 2em;
  color: black;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 0.25em;
}

ul li.isOff:hover {
  background-color: #f2f4fb;
}
ul li.isOn {
  color: #ffffff;
  border-color: #b088f9;
  background-color: #b088f9;
}

ul li.isOn:hover {
  background-color: rgba(176, 136, 249, 0.85);
}

input {
  font-size: 1.1rem;
  width: 60%;
  padding: 1.1em 1.5em;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}
form input:focus {
  border-color: #b088f9;
  outline: #b088f9;
}
