header {
  background-color: #f9fcfb;
  width: 100%;
  min-height: 80px;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 3px solid #e8f4f0;
  justify-content: space-between;
  margin-bottom: 4em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

#logo {
  font-size: 1.85em;
  margin-left: 1.5rem;
  font-weight: bold;
  color: #272e4f;
  letter-spacing: 1.5px;
}
#post_job {
  margin-right: 1.5rem;
}
button {
  padding: 0.7em 1.5em;
  font-weight: 700;
  font-size: 1.1rem;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 1.2em;
  text-align: center;
  background-color: #4e9af1;
  transition: all 0.2s;
  cursor: pointer;
}
button:hover {
  border-color: rgba(255, 255, 255, 1);
}
