header {
  background-color: #f9fcfb;
  width: 100%;
  min-height: 80px;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 2px solid #b088f9;
  justify-content: space-between;
  margin-bottom: 2.5em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}
#logo {
  background-image: url(./logo_transparent.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 5em;
  width: 200px;
  margin-left: 1em;
}

#post_job {
  margin-right: 1.5rem;
}
button {
  padding: 0.7em 1.5em;
  font-weight: 700;
  font-size: 1.1rem;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 1.2em;
  text-align: center;
  background-color: #4e9af1;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}
button:hover {
  border-color: 2px solid #4e9af1;
  background-color: #892cdc;
}
button:active {
  outline: none;
}
